h1,
h2,
h3 {
	color: #293c7d;
}

.header a {
	text-shadow: none;
}

main {
	min-height: 78vh;
}

input,
select,
textarea,
button,
.input-group-text,
.alert {
	border-radius: 0px !important;
}

#navbar {
	background-color: white !important;
	border-bottom: 4px solid #4899d2;
	padding: 25px 3%;
}

#navbar li {
	text-align: right;
}

#navbar .nav-link {
	font-size: 1.2rem;
	font-weight: 600;
}

#navbar .nav-link:hover {
	color: #4899d2 !important;
}

#navbar .navbar-brand img {
	height: 30px;
}

.react-link {
	color: #0000008c;
	text-decoration: none;
}
.react-link:hover {
	color: #4899d2;
}

.vertical-align {
	align-items: center;
	display: flex;
}

.active-link {
	border-bottom: 2px solid #4899d2;
	color: #4899d2;
	font-weight: 500;
}

.dropdown-item {
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.header__banner {
	align-items: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 0% 10%;
	text-align: center;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.56);
	width: 100%;
}

.header .header__banner--index {
	background-image: url("https://davidbolivar.github.io/Proyecto-Final-JS---CoderHouse/assets/img/header-bg-sm.jpg");
	background-position: center;
	height: calc(100vh - 92px);
}

.header .header__banner--index .header__tittle {
	color: white;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

.header .header__banner--index .header__text {
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0;
	padding: 0;
}

.header .header__banner--contacto {
	background-image: url("https://davidbolivar.github.io/Proyecto-Final-JS---CoderHouse/assets/img/contacto-bg-sm.jpg");
	background-position: center;
	height: 35vh;
}

@media (min-width: 768px) {
	html {
		scroll-behavior: auto !important;
	}

	.header__banner--index {
		background-image: url("https://davidbolivar.github.io/Proyecto-Final-JS---CoderHouse/assets/img/header-bg.jpg") !important;
	}

	.header__banner--contacto {
		background-image: url("https://davidbolivar.github.io/Proyecto-Final-JS---CoderHouse/assets/img/contacto-bg.jpg") !important;
	}
}
